body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;

	padding: 0;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	width: 100%;
	max-width: 270px;
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	/* Firefox */
}

.inputs-container {
	width: 100%;
	max-width: 270px;

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 20px;
}

.inputs-container > input {
	margin: 0;

	height: 30px;
	padding: 0px 10px;

	width: 100%;

	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 21px;
}

form input:focus {
	outline: none;
	border-color: #000;
}

form button {
	width: 100%;
	max-width: 100px;

	height: 30px;

	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 21px;

	cursor: pointer;
}

form textarea {
	width: 100%;
	max-width: 250px;
	padding: 0;
	margin: 0;
}

form textarea:focus {
	outline: none;
}
